body {
	background-color: #000;
	font-family: monospace;
}

img {
	width: 40vw;
	margin-left: 10vw;
}

p {
	color: #fff;
	font-weight: 100;
	font-size: 3vw;
	margin: 10vw 10vw 10vw 10vw;
}

h2 {
	text-align: center;
	font-size: 7vw;
	color: #fff;
	font-family: monospace;
	font-weight: 100;
}

h3 {
	text-align: center;
	font-size: 5vw;
	color: #fff;
	font-family: monospace;
	font-weight: 100;
}

a:hover {
	background-color: #fff;
}

a:visited {
	color: #fff;
}

a:link {
	color: #fff;
}

@media (max-width: 900px) {

body {
	margin: 0px 0px 0px 0px;
}

img {
	width: 90vw;
}

p {
	font-size: 5vw;
}

h2 {
	font-size: 10vw;
}

h3 {
	font-size: 7.5vw;
}


}