@font-face {
  font-family: "Micro";
  src: url('HelveticaNowMicro-Regular.otf');
}

body {
	background-color: #000;
	font-family: micro;
	font-weight: bold;
}

img {
	width: 30vw;
	margin-left: 10vw;
}

p {
	color: #fff;
	font-weight: 100;
	font-size: 14pt;
	margin-left: 15vw;
	margin-right: 25vw;
}

h1 {
	font-size: 24pt;
	color: #fff;
	font-family: micro;
	font-weight: 100;
	margin-left: 0vw;
}

h2 {
	/*text-align: center;*/
	font-size: 24pt;
	color: #fff;
	font-family: micro;
	font-weight: 100;
	margin-left: 5vw;
}

h3 {
	/*text-align: center;*/
	font-size: 24pt;
	color: #fff;
	font-family: micro;
	font-weight: 100;
	margin-left: 12.25vw;
}

a:hover {
	background-color: #fff;
}

a:visited {
	color: #fff;
}

a:link {
	color: #fff;
}

@media (max-width: 900px) {

body {
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;

}

img {
	width: 90vw;
}

p {
	font-size: 5vw;
	margin-right: 0vw;
}

h2 {
	font-size: 10vw;
}

h3 {
	font-size: 7.5vw;
}


}