body {
	background-color: #000;
	font-family: monospace;

}

img {
	width: 90vw;
}

p {
	color: #fff;
	font-weight: 100;
	font-size: 5vw;
}

h2 {
	text-align: center;
	font-size: 10vw;
	color: #fff;
	font-family: monospace;
	font-weight: 100;
}

h3 {
	text-align: center;
	font-size: 7.5vw;
	color: #fff;
	font-family: monospace;
	font-weight: 100;
}

a:hover {
	background-color: #fff;
}

a:visited {
	color: #fff;
}

a:link {
	color: #fff;
}