
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: white;
}
img {
    max-width: 100%;
    max-height: 100%
    object-fit: cover;

    animation: changeColor 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


@-webkit-keyframes changeColor {
    0%   { -webkit-filter: hue-rotate(0deg)contrast(100%)saturate(0%); }
    50%  { -webkit-filter: hue-rotate(360deg)contrast(500%)saturate(10000%); }
    100% { -webkit-filter: hue-rotate(0deg)contrast(100%)saturate(0%); }
  }
@-moz-keyframes changeColor {
    0%   { -moz-filter: hue-rotate(0deg)contrast(100%)saturate(0%); }
    50%  { -moz-filter: hue-rotate(360deg)contrast(500%)saturate(10000%); }
    100% { -moz-filter: hue-rotate(0deg)contrast(100%)saturate(0%); }
  }
@-o-keyframes changeColor {
    0%   { -o-filter: hue-rotate(0deg)contrast(100%)saturate(0%); }
    50%  { -o-filter: hue-rotate(360deg)contrast(500%)saturate(10000%); }
    100% { -o-filter: hue-rotate(0deg)contrast(100%)saturate(0%); }
  }
@keyframes changeColor {
    0%   { filter: hue-rotate(0deg)contrast(100%)saturate(0%); }
    50%  { filter: hue-rotate(360deg)contrast(200%)saturate(10000%); }
    100% { filter: hue-rotate(0deg)contrast(100%)saturate(0%); }

}

#desktop {
    display: inline;
    color: white;
}
#tablet,
#mobile,
#other,
#moreother,
#print {
    display: none;
}
/* tablet */
@media (min-width: 900px) and (max-width: 1000px) {
    body {
        background: white;
    }
    #tablet {
        display: inline;
        color: white;
    }
    #desktop,
    #other,
    #moreother,
    #mobile,
    #print {
        display: none;
    }
}
/* mobile */
@media (max-width: 900px){
    body {
        background: white;
    }
    #mobile {
        display: inline;
        color: black;
    }
    #desktop,
    #other,
    #moreother,
    #tablet,
    #print {
        display: none;
    }


/*moreother*/
    @media (max-width: 700px) and (min-width: 600px){
        body {
            background: white;
        }
        #moreother {
            display: inline;
            color: black;
        }

        #desktop,
        #mobile,
        #other,
        #tablet,
        #print {
            display: none;
        }
}

/*other*/
    @media (max-width: 600px) {
        body {
            background: white;
        }
        #other {
            display: inline;
            color: black;
        }

        #desktop,
        #mobile,
        #moreother,
        #tablet,
        #print {
            display: none;
        }
}

/* print */
@media print {
    body {
        background: white;
    }
    #print {
        display: inline;
        color: black;
    }
    #desktop,
    #other,
    #moreother,
    #tablet,
    #mobile {
        display: none;
    }
}
